@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}

<h2>Home Page</h2>
<hr />
<p>Welcome to my football sweepstake.</p>

<div>
    A sweepstake is a type of contest where a prize or prizes may be awarded to a winner or winners.
    Sweepstakes began as a form of lottery that were tied to products sold. In response, the FCC and FTC refined U.S.
    broadcasting laws (creating the anti-lottery laws). Under these laws sweepstakes became strictly
    "No Purchase Necessary to Enter or Win", especially since many sweepstakes companies skirted the law by stating only
    "No Purchase Necessary to Enter", removing the consideration (one of the three legally required elements of gambling)
    to stop abuse of sweepstakes. Today, sweepstakes in the USA are used as marketing promotions to reward existing
    consumers, and to draw attention to a product. By definition, the winner is determined by luck rather than skill.
</div>

@section scripts {
    <script src="~/Scripts/react/dist/bundle.js"></script>
}

<div id="root"></div>